
.tituloLandingPage{
    padding-top:70px ;
    color: #fff;
    align-items: center;
    margin-bottom: 4.8em;
}
.bodyLandingPage{
    background-image: url("https://wallpapercave.com/wp/wp10948256.jpg");
    background-size:cover ;
     background-repeat: no-repeat;
     background-attachment: fixed;
     width: 100%;
     height:100%;
     position: absolute;
}
.btnLandingPage{
    text-decoration: none;
    color: #fff;
    padding: 1.2em 1.5em;
    background-color: #1c3651;;
}
.btnLandingPage:hover{
    background-color: #001028;
}