*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center; 
  }
.inputSearchBar {
    padding: 0.8em 10em;
    outline: none;
    color: #000;
  }
  .inputHome{
    outline: none;
  }
  
  .btnSearchBar {
    padding: 9px;
    background: #1c3651;
    border: none;
    color: #fff;
  }
  .inputHome {
    background: #1c3651;
    color: #fff;
    display: inline-block;
    padding: 9px 15px;
    text-decoration: none;
    align-items: right;
    margin: 10px;
    border-radius: 20px;
    border: none;
  }
  .btnHome {
    background: #1c3651;
    color: #fff;
    display: inline-block;
    padding: 6px 10px;
    padding-bottom: 9px;
    text-decoration: none;
    align-items: right; 
    border-radius: 27px;
  }
  .btnSearchBar:hover{
    background-color: #001028;
  }
  .nav-container {
    padding: 6px;
  }
  
  .inputHome:hover{
    background-color: #001028;
    cursor: pointer;
  }
  .btnHome:hover{
    background-color: #001028;
    cursor: pointer;
  }
  
  .flex-container{
    display: flex;
    justify-content: space-around;
}
.NavLinkContainer{
padding:10px ;

}
.NavLinkToLanding{
  background: #1c3651;
    color: #fff;
    padding:12px ;
    margin-bottom: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    align-items: right;
   
}
.NavLinkToLanding:hover{
background-color: #001028;
}